* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

html {
    font-size: 62.5%; /* 62.5% de 16px = 10px */
    font-family: sans-serif;
    overflow-x: hidden;
}

:root{
    --negro: #000000;
    --blanco: #ffffff;
    --gris-primario: #2e2e2e;
    --morado-azulado: #8395e8;
    --morado-primario: #7d1dd7;
    --fuccia-primario: #d72b60;
    --rosa-complementario: #ea8a96;
    --blanco-rosita: #f8c6ec;
    --negro-morado: #292335;
    --negro-vino: #4c0e2d;
}

/*Estilos del Body*/

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--gris-oscuro);
}

/*Header*/
.cabecera{
    position: static;
    width: 100%;
    height: 130px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);

}

.logo{
    max-width: 20rem;
}

.nav_list{
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

.nav_list li a{
    text-decoration: none;
    color: var(--negro);
    font-weight: 500;
    font-size: 1.3rem;
}

.abrir_menu, .cerrar_menu{
    display: none;
}

.nav_list li a:hover{
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.53);
}

/* Estilos de contenedor principal*/
main{
    background-color: var(--negro-morado);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}




/*

*/
/*Estilos del contenido de la pagina*/

.contenido1{
    width: 90%;
    min-block-size: min-content;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    color: var(--blanco);
    overflow: hidden;
    overflow-wrap: break-word;
}

.contenido1 .img_contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido1 .img_contenedor img{
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 2; /* proporción horizontal deseada */
    object-fit: cover;
    border-radius: 20px;
    margin: 0px;
}

.contenido1 .texto1_contenedor{
    width: 50%;
    height: auto;
    min-block-size: min-content;
    overflow-wrap: break-word;
    padding: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    text-align: start;
    text-align: -moz-center;
}

.contenido1 .texto1_contenedor h1{
    font-size: clamp(1.6rem, 2.5vw, 6rem);
}

.contenido1 .texto1_contenedor p{
    font-size: clamp(1rem, 1.8vw, 3rem);
}

.contenido2{
    width: 100%;
    min-block-size: min-content;
    overflow-wrap: break-word;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 5rem 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    color: var(--blanco);
    background-color: #121111;
}

.contenido2 h2{
    font-size: clamp(1.6rem, 2vw, 4rem);
}

.contenido2 p{
    font-size: clamp(1rem, 1.8vw, 3rem);
}

/*Galeria de iconos realizados por artemi esrudios*/
.contenido2 .logo-grid {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    overflow-wrap: break-word;
}

.contenido2 .logo-grid img {
    width: 4rem;
    height: auto;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.contenido2 .logo-grid img:hover {
    transform: scale(1.1);
}

/*Responsibilidad contenido*/
@media screen and (max-width: 600px) {

    .contenido1{
        flex-direction: column-reverse;
        justify-content: stretch;
    }
    .contenido1 .texto1_contenedor{
        width: 90%;
        text-align: center;
    }

} 


/*

*/



/*Estilos del pie de pagina*/

.pie_pagina{
    width: 100%;
    height: 150px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: var(--negro);
}

.logoF{
    max-width: 14rem;
}

.pie_pagina a{
    text-decoration: none;
    color: var(--blanco);
    font-weight: 500;
    font-size: 1.3rem;
}


/*Responsividad del menu desplegable, hamburguesa*/

@media screen and (max-width: 600px) {
    .abrir_menu, .cerrar_menu{
        display: block;
        border: 0;
        font-size: 2rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir_menu{
        color: var(--negro);
    }

    .cerrar_menu{
        color: var(--blanco);
    }

    .nav{
        opacity: 0;
        visibility: hidden;
    } 

    .nav{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        padding: 2rem; 
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        background-color:var(--gris-primario);
        box-shadow: 0 0 0 100vmax rgba(42, 1, 40, 0.462);
        z-index: 11;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav_list{
        flex-direction: column;
        align-items: end;
    }
    .nav_list li a{
        text-decoration: none;
        color: var(--blanco);
    }
}

/*Responsivo del pie de pagina*/

@media screen and (max-width: 600px){
    .logoF{
        max-width:  13rem;
    }

    .pie_pagina a{
        text-decoration: none;
        color: var(--blanco);
        font-weight: 500;
        font-size: 1rem;
    }
}