body{
    margin: 0px;
    background-color: rgb(41, 41, 41);
}

    /*Header*/

.cabecera{
    width: 100%;
    height: 130px;
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    display: flex;
    justify-content: space-around;

}

figure img{ 
    margin: 20px;
    width: 200px;
    height:70px;
}


/* Estilos del navegador*/

.cabecera_contenedor_izquierdo{
    
}
.nav {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}i
.nav li {
    display: inline;
}
.nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.nav a:hover {
    font-size: 24px;
}