* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

html {
    font-size: 62.5%; /* 62.5% de 16px = 10px */
    font-family: sans-serif;
    overflow-x: hidden;
}

:root{
    --negro: #000000;
    --blanco: #ffffff;
    --gris-primario: #2e2e2e;
    --morado-azulado: #8395e8;
    --morado-primario: #7d1dd7;
    --fuccia-primario: #d72b60;
    --rosa-complementario: #ea8a96;
    --blanco-rosita: #f8c6ec;
    --negro-morado: #292335;
    --negro-vino: #4c0e2d;
}

/*Header*/
.cabecera{
    width: 100%;
    height: 130px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

.logo{
    max-width: 20rem;
}

.nav_list{
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

.nav_list li a{
    text-decoration: none;
    color: var(--negro);
    font-weight: 500;
    font-size: 1.3rem;
}

.abrir_menu, .cerrar_menu{
    display: none;
}

.nav_list li a:hover{
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.53);
}


/* Estilos de contenido principal*/
main{
    background-image: url(/assets/Fondos/bosqueMorado.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.presentacion{
    width: 100%;
    height: 300px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 4rem;

}

.titulo_Presentacion{
    width: 60%;
    height: 300px;
    padding: 2rem;
    text-align:start;
}

.titulo_Presentacion h1{
    margin-left: 7rem;
    color: var(--blanco);
    font-size: 7rem;
    font-weight: 700;
}

.parrafo_Presentacion{
    width: 38%;
    height: 300px;
    padding: 3rem 2rem 2rem 0.4rem;
    display: flex;
    text-align: right;
    align-items: flex-end;

}

.parrafo_Presentacion p{
    font-size: 2.3rem;
    font-weight: 500;
    color: var(--blanco);
}


/*Estilos del Body*/

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: var(--gris-oscuro);
}

/* Carrusel*/
.carrusel_container{
    position: relative;
    width: 80%;
    height: 300px;
    min-width: 200px;
    max-width: 950px;
    margin: 0px auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.carrusel{
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.elemento {
    min-width: 100%;
    position: relative;
    transition: opacity 0.5s ease-in-out;
}

.elemento img {
    width: 100%;
    height: 300px;
    display: block;
}

.titulo_elemento {
    position: absolute;
    bottom: 10%;
    left: 5%;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
}

.navC {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.4);
    border: none;
    color: white;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.navC.prev {
    left: 10px;
}

.navC.next {
    right: 10px;
}

.navC:hover {
    background: rgba(0, 0, 0, 0.6);
}

/* MENU*/

.menu{
    width: 90%;
    height: auto;
    margin: 4rem auto;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.servicio_container{
    width: 45%;
    max-width: 40%;
    min-width: 350px;
    height: auto;
    padding: 1rem;
    overflow-wrap: break-word;
    background-color: var(--gris-primario);
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.imagen_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen_container img{
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 2; /* proporción horizontal deseada */
    object-fit: cover;
    border-radius: 20px;
    margin: 0px;
}

.servicio_container .descripcion{
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    color: var(--blanco);
    font-size: small;
}

.descripcion p{
    white-space: normal;
}


/*Estilos del pie de pagina*/

.pie_pagina{
    width: 100%;
    height: 150px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: var(--negro);
}

.logoF{
    max-width: 14rem;
}

.pie_pagina a{
    text-decoration: none;
    color: var(--blanco);
    font-weight: 500;
    font-size: 1.3rem;
}

/*Responsivos de titulo*/

@media screen and (max-width: 1200px) {
    .parrafo_Presentacion p{
        font-size: 2.1rem;
        margin-right: 6rem;
    }
    
}

@media screen and (max-width: 900px) {
    .parrafo_Presentacion p{
        font-size: 1.7rem;
        margin-right: 6rem;
    }

    .titulo_Presentacion h1{
        margin-left: 3rem;
        color: var(--blanco);
        font-size: 6rem;
    }

    
}

@media screen and (max-width: 700px) {

    .titulo_Presentacion h1{
        margin-left: 1.6rem;
        font-size: 5.5rem;
    }
    .parrafo_Presentacion p{
        font-size: 1.6rem;
        margin-right: 3rem;
        font-weight: 500;
        color: var(--blanco);
    }
    
}

@media screen and (max-width: 600px) {
    .presentacion{
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 2rem;
    }
    
    .titulo_Presentacion{
        width: 80%;
        height: auto;
        padding: 1.2rem;
        text-align:left;
    
    }

    .titulo_Presentacion h1{
        margin-left: 1rem;
        color: var(--blanco);
        font-size: 4rem;
    }

    .parrafo_Presentacion{
        width: 80%;
        height: auto;
        padding: 2rem;
        display: flex;
        text-align: right;
        align-items: center;
    
    }
    
    .parrafo_Presentacion p{
        font-size: 2rem;
        margin-right: 1.4rem;
        color: var(--blanco);
    }

}


/*Responsivo de tarjetas de menu*/
@media (max-width: 400px) {
    .servicio_container{
    width: 90%;
    }
}

/*Estilos del menu desplegable, hamburguesa*/

@media screen and (max-width: 600px) {
    .abrir_menu, .cerrar_menu{
        display: block;
        border: 0;
        font-size: 2rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir_menu{
        color: var(--negro);
    }

    .cerrar_menu{
        color: var(--blanco);
    }

    .nav{
        opacity: 0;
        visibility: hidden;
    } 

    .nav{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        padding: 2rem; 
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        background-color:var(--gris-primario);
        box-shadow: 0 0 0 100vmax rgba(42, 1, 40, 0.462);
        z-index: 11;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav_list{
        flex-direction: column;
        align-items: end;
    }
    .nav_list li a{
        text-decoration: none;
        color: var(--blanco);
    }
}

/*Responsivo del pie de pagina*/

@media screen and (max-width: 600px){
    .logoF{
        max-width:  13rem;
    }

    .pie_pagina a{
        text-decoration: none;
        color: var(--blanco);
        font-weight: 500;
        font-size: 1rem;
    }
}